/.env
/.env.*
!/.env.example
node_modules/
__pycache__/
.ruff_cache/
.pytest_cache/
.cache/
.mypy_cache/
.python-version
venv/
dist/
build/
coverage/
/coverage
/out
/out/
/logs
*.log
.DS_Store
Thumbs.db
desktop.ini
.vercel
.idea/
.vscode/
*.egg-info/
.eggs/
.next/
*.tsbuildinfo
.env.backup
.env.bak
*.lock
pdm.lock
poetry.lock
